{% extends 'base.html.twig' %}

{% block title %}My account- Beauty Shop{% endblock %}

{% block content %}
    <h1>My account</h1>
   <p>Hello {{ app.user.firstname }} welcome to your account at Beauty Shop.</p>
    <hr>
    <a href="{{ path('account_password') }}">Update my password</a> <br/>
<a href="{{ path('account_address') }}"> Manage my addresses</a><br/>
    <a href="{{ path('account_order') }}">My orders<br/></a>
    <hr>
{% endblock %}
