{% extends 'base.html.twig' %}

{% block title %}Update my password- Beauty Shop{% endblock %}

{% block content %}
    <h1>Update my password</h1>
    <p>Hello {{ app.user.firstname }} you can update your password here.</p>
    <hr>
    <a href="{{ path('account') }}">Return to my account</a> <br/>
    <hr>
    {% if notification  %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}
