:root {
    --primary: #00c0bc!important;
    --secondary: #0b5351!important;
    --dark: #092327!important;
}
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.marketing{
    margin-bottom: 150px!important;
}
/* navbar */
.navbar-item-custom, .navbar-item-custom a{

    color: white;
}
.cart-icon{
    height: 20px !important;
    padding-left: 15px;
}
/* ------ */

/* Product */
.product-item{
    margin-top: 35px;
}
.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 2px;
}
.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.product-item .product-price{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-page-price{
    font-size: 19px;

}

.img-cart{
    width:75px;
    height:auto;
}
/* ------ */

/* form connexion */

.block-small{
max-width:600px;
margin:0 auto;
}
/* ------- */

/* form order */
.form-check{
    background-color: #f4f8ff;
    padding:20px 65px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    padding:20px;
    margin-top: 22px;
}
/* ------- */

/* footer */
footer {
    position: absolute;
    bottom: 0;
    height: 100px;

}
footer a, footer a:hover{
    color:#fff;

}
