{% extends 'base.html.twig' %}

{% block title %}My order - Beauty shop{% endblock %}

{% block content %}
<h2>Place my order</h2>
    <p>Select your preferences</p>
    <hr>
    <div class="row">
        <div class="col-md-6">

            {% set formHtml %}
                {{ form(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
            <b>Select Carrier</b>
        </div>
        <div class="col-md-6">
            <b>Resume Order</b><br>
            <button>Validate</button>
        </div>
    </div>
{% endblock %}
