{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Page not found</h2>
        <p>We are very sorry for inconvenience. It look like you are trying to access a page that either has been deleted or never even existed</p>
        <a href="{{ path('home') }}" class="btn btn-danger">Back to home</a>
    </div>
{% endblock %}
